@{
    Layout = "/Areas/Identity/Pages/Shared/_Layout.cshtml";
    ViewBag.Title = "Create User";
}
<h2>Create User</h2>

<form action="CreateUser" method="post">
    <input type="hidden" name="ReturnController" value="@ViewBag.ReturnController" />
    <input type="hidden" name="ReturnAction" value="@ViewBag.ReturnAction" />

    <div>
        <label>User Name</label>
        <input type="text" name="UserName" required />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="Password" required />
    </div>
    <button type="submit">Create User</button>
</form>