@{
    Layout = "/Areas/Identity/Pages/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete Role";
}
<h2>Delete Role</h2>

<form asp-action="DeleteRole" method="post">
    <input type="hidden" name="ReturnController" value="@ViewBag.ReturnController" />
    <input type="hidden" name="ReturnAction" value="@ViewBag.ReturnAction" />

    <div>
        <label>Role Name</label>
        <input type="text" name="RoleName" required />
    </div>
    <button type="submit">Delete Role</button>
</form>