@{
    Layout = "/Areas/Identity/Pages/Shared/_Layout.cshtml";
    ViewBag.Title = "Sign Out";
}
<div class="text-center">
        <h1 class="h1">SignOut</h1>
        <form  method="post" action="/Admin/SignOut">
            <button type="submit" class="btn btn-danger">Sign out</button>
        </form>
</div>