@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="width=device-width" />
    <title>Uri04</title>
</head>
<body>
    <p>DateTime: Id = @ViewBag.Id</p>
</body>
</html>