@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="width=device-width" />
    <title>Uri02</title>
</head>
<body>
    <p>int?: Id = @ViewBag.Id</p>
</body>
</html>